.titlebox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 80%;
    background-color: deeppink;
    padding: 0 20px 20px 20px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    color: white;
}

ul.list-star {
    display: flex;
}

.yellow {
    color: yellow;
}

.white {
    font-weight: 100;
}

ul.list-recipe .recipe-item>img {
    vertical-align: middle;
    width: 100%;
}

.pink-border {
    bottom: 0px;
    left: 0px;
    width: 10%;
    background-color: deeppink;
    clip-path: polygon(0 50%, 100% 50%, 80% 100%, 0% 100%);
    margin-top: 40px;
    height: 14px;
}

.latest-recipes-header h2 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.page-number {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.page-number a {
    text-decoration: none;
    margin: 5px;
    padding: 12px 14px;
    border-radius: 10%;
    color: white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.page-number a.active {
    background-color: deeppink;
}